
  .comment-header {
    height: 25px;
    padding: 0.5rem 0.5rem 0 0.5rem ;
  }

  /* .comment-content {

  } */

  .comment-text{
    padding: 1%;
    font-size: 1.5em;
  }
  .comment-actions button {
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    line-height: 1
  }
  .reply-input {
    margin-left: 10%;
  }
  .single-comment {
    margin: 0.75% 0;
    border: 1px solid #404040;
  }