
  /* body {
    background-color: #fafafa;
  } */
  .comment-header {
    height: 25px;
  }
  .comment-content {
    border: 1px solid #00000059;
  }
  .comment-text{
    padding: 1%;
    font-size: 1.35em;
  }
  .comment-actions button {
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    line-height: 1
  }
  .reply-input {
    margin-left: 10%;
  }
  .single-comment {
    margin: 0.5% 0;
  }